<h1>{{title}}</h1>

{{#if isAuthorised}}
<div>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Address</th>
			<th>Postcode</th>
		</tr>
		{{#each sites}} 
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.name}}</td>
				<td>{{this.address}}</td>
				<td>{{this.postcode}}</td>
			</tr>
		{{/each}}
	</table>
</div>
{{else}}
<div>
	You are not authorised to view this page.
</div>
{{/if}}

{{#if error}}
<div>
	<p>Error:</p>
	<p>{{error.message}}</p>
	<p>{{error.stack}}</p>
</div>
{{/if}}